@media only screen and (min-width: 1025px) {
 /* Estilos para telas maiores que 1025px de largura */

 @import "../../variables/variables";

/* section style */

.hero{
 display: flex;
 justify-content: space-between;
 width: calc(100vw - $space-64);
 align-items: center;
 margin: 0 auto;


}

#hero__mosaico{
 display: flex;
 height: 50rem;
 gap: 1.4rem;

 
}

.hero__mosaico-coluna {
figure{

 height: 100%;
}

.figure-top{

 @include hero__mosaico-column(center);

}

.figure-center{
 @include hero__mosaico-column(flex-start);
}

.figure-bottom{
 @include hero__mosaico-column(flex-end);
}

.figure-bottom-desktop{
 @include hero__mosaico-column(center);


}



}


.hero__mosaico-imgs{
 display: flex;
 flex-direction: column;

 
 
}

.hero__mosaico-img{
@include hero__mosaico-img;
border-radius: 3rem;
object-fit: cover;
transition: all .3s;


}




}