@media only screen and (min-width: 1025px) {
 /* Estilos para telas maiores que 1025px de largura */

 @import "../../variables/variables";
 
/* Header menu */

body{
 background-color: #fff;
}

.header{
 display: flex;
 width: 100vw;
 height: $space-96;
 justify-content: space-between;
 align-items: center;
 box-shadow: 2px 2px 10px #36363617;
 margin-bottom: $space-32;


 // hidden de "check" input of the mobile menu
 #btn-menu-change{
  display: none;
 }

 
 
 
}

.header__logo{
 display: flex;
 height: auto;
 margin-left: $space-16;
 height: 5.6rem;

 img{
  width: 100%;
  height: auto;
 
 }
}

.header__menuPrincipal{
 display: flex;
 width: 60rem;
 height: 6.4rem;
 justify-content: left;    


 
}

.header__menuPrincipal-lista{
 list-style: none;
 display: flex;
 gap: 8.0rem;

 
}

.header__menuPrincipal-item:hover{
 transform: scale(1.15);
}
.header__menuPrincipal-lista li{
 display: flex;
 align-items: center;

}

.header__menuPrincipal-item{
 transition: transform .3s;
 color: #767676;
 text-decoration: none;
 font-weight: bold;
 font-size: $subtitleSize;
 
}
#Github{
 display: flex;
 color: #FFF;
 background-color: #0A1045;
 width: 12rem;
 height: 5rem;
 
 justify-content: center;
 align-items: center;
 border-radius: 3rem;
 gap: 1rem;
}

}