@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mulish", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  gap: 10rem;
}

/* Header menu */
.header {
  display: flex;
  width: 99vw;
  padding: 2.2rem 5rem 0;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.header__menuPrincipal {
  display: flex;
  width: 60rem;
  justify-content: left;
}

.header__menuPrincipal-lista {
  list-style: none;
  display: flex;
  gap: 8rem;
}

.header__menuPrincipal-item:hover {
  transform: scale(1.15);
}

.header__menuPrincipal-lista li {
  display: flex;
  align-items: center;
}

.header__menuPrincipal-item {
  transition: transform 0.3s;
  color: #767676;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.2rem;
}

#Github {
  display: flex;
  color: #FFF;
  background-color: #0A1045;
  width: 16rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  gap: 2rem;
}

/* section style */
.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6.4rem;
  height: 65rem;
  align-items: center;
  margin: auto 0;
}

#hero__mosaico {
  display: flex;
  height: 50rem;
  gap: 1.4rem;
}

.colunahero01 {
  display: flex;
  align-items: center;
}

.colunahero02 {
  display: flex;
  align-items: center;
  margin: 0 0 7rem;
}

.colunahero03 {
  display: flex;
  align-items: center;
  margin: 5rem 0 0;
}

.colunahero04 {
  display: flex;
  align-items: center;
}

.hero__mosaico-imgs {
  display: flex;
  width: 18rem;
  flex-direction: column;
  gap: 2.3rem;
}

.hero__mosaico-img {
  width: 100%;
  height: 19.5rem;
  border-radius: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}

.hero__rightarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.hero__descricao {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.hero__descricao h3 {
  color: #767676;
  font-weight: 200;
  font-size: 1.8rem;
  margin: 0 0 0.8rem;
}
.hero__descricao h1 {
  text-align: right;
  font-size: 6.4rem;
  font-weight: bold;
  background: #0A1045;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__descricao h4 {
  margin: 0.8rem 0 0;
  color: rgba(118, 118, 118, 0.8);
  font-size: 1.8rem;
  font-weight: bold;
}

.aboutus {
  width: 100%;
  height: auto;
  position: relative;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10em;
}
.aboutus > * {
  padding: 10px;
}

article:not(:nth-child(1)) {
  width: 389px;
  height: 296px;
  transition: 0.3s;
  margin: 0 auto;
  border-radius: 16px;
  background: #f7f7f7;
  margin-bottom: 20px;
  text-align: justify;
}

.aboutus-primary-title {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0em;
  border-bottom: 2px solid #00c2d1;
  padding-bottom: 20px;
  text-align: left;
  color: #454343;
}

.aboutus > .aboutus-box1-titulo > .aboutus-paragrafo {
  width: 100%;
  max-width: 357px;
  margin: 0 auto;
  color: #454343;
  margin-top: 20px;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: justify;
}

.aboutus header {
  display: flex;
  align-items: center;
}
.aboutus header .imagem-1 {
  width: 82px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../Images/icone04.svg");
  background-repeat: no-repeat;
}
.aboutus header .imagem-2 {
  width: 82px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../Images/icone01.svg");
  background-repeat: no-repeat;
}
.aboutus header .imagem-3 {
  width: 82px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../Images/icone03.svg");
  background-repeat: no-repeat;
}
.aboutus header .imagem-4 {
  width: 82px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../Images/icone02.svg");
  background-repeat: no-repeat;
}
.aboutus header .imagem-5 {
  width: 82px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../Images/icone05.svg");
  background-repeat: no-repeat;
}
.aboutus header h4 {
  color: #0A1045;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.aboutus article:not(:first-child) p {
  width: 324px;
  height: 169px;
  color: #454343;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.boxAbout {
  transform: scale(1.05);
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.65);
}

.hero__flags {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
}

.hero__flag-tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #303030;
  font-weight: bold;
  cursor: default;
}
.hero__flag-tecnologia img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.html:hover {
  box-shadow: 0px 0px 30px 0px rgb(255, 112, 112);
  background-color: rgba(255, 112, 112, 0.397);
  transform: scale(1.08);
}

.css:hover {
  box-shadow: 0px 0px 30px 0px rgb(22, 197, 134);
  background-color: rgba(22, 197, 133, 0.363);
  transform: scale(1.08);
}

.javascript:hover {
  box-shadow: 0px 0px 30px 0px rgb(255, 215, 115);
  background-color: rgba(255, 215, 115, 0.384);
  transform: scale(1.08);
}

.hero__flags-lista {
  list-style: none;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  text-align: center;
  gap: 3rem;
}
.hero__flags-lista li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  border-radius: 50%;
  width: 6rem;
  transition: 0.4s;
}

/* Selected images Mosaico */
.selected {
  transform: scale(1.16);
}

.noselected {
  transform: scale(0.9);
  filter: grayscale(1);
}

.about-technologies {
  display: flex;
  justify-content: center;
  gap: 12rem;
  flex-direction: column;
  width: 99vw;
  align-items: end;
  padding: 0 10rem 5rem 0;
}
.about-technologies header {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.8rem;
}
.about-technologies header .title {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about-technologies header .title h1 {
  font-size: 4rem;
}
.about-technologies header .title span {
  width: 24rem;
  height: 0.2rem;
  background-color: #00c2d1;
}
.about-technologies header p {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: right;
}
.about-technologies .logos {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-technologies .logos .logos__1 {
  display: flex;
  list-style: none;
  gap: 10rem;
}
.about-technologies .logos .logos__1 .html-technologies {
  color: rgb(255, 112, 112);
}
.about-technologies .logos .logos__1 .css-technologies {
  color: rgb(22, 197, 134);
}
.about-technologies .logos .logos__1 .javascript-technologies {
  color: rgb(255, 215, 115);
}
.about-technologies .logos .logos__1 li {
  color: rgba(226, 0, 251, 0.2941176471);
  background: linear-gradient(150deg, #fff 35.63%, #cbc4c4 121.18%);
  box-shadow: inset -1rem -1rem 4rem 0 rgba(0, 0, 0, 0.2);
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: 3rem;
  font-size: 2.5rem;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
}
.about-technologies .logos .logos__1 li .sass {
  margin: 1.2rem 0 0;
  width: 8.5rem;
  height: 8.5rem;
}
.about-technologies .logos .logos__1 li img {
  width: 11rem;
  height: 11rem;
}

/* Estilos para celulares com largura de até 320px */
@media only screen and (max-width: 480px) {
  /* Seus estilos para celulares de até 320px aqui */
  body {
    background-color: #fff;
  }
  .header {
    width: 100vw;
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    margin-bottom: -90px;
    box-shadow: 2px 2px 10px #ececec;
  }
  .header figure {
    width: 7.8rem;
    height: 4.8rem;
    margin-left: 1.6rem;
  }
  .header label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.6rem;
    z-index: 999;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 50%;
    transition: all 1s ease;
  }
  .header label:active {
    background-color: rgba(35, 35, 35, 0.8039215686);
  }
  .header label:active i {
    text-shadow: 1px 1px 1px #fff;
  }
  .header label i {
    font-size: 2.4rem;
    transition: all 2s ease;
    color: #000;
  }
  .header input {
    display: none;
    flex: 1;
  }
  .header input:checked + .header__menuPrincipal {
    left: 0;
  }
  .header input:checked + .header__menuPrincipal li {
    margin-right: 0vw;
    transition: all 3s ease-in-out;
    opacity: 1;
    margin-right: 0;
  }
  .header .header__menuPrincipal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -100vh;
    top: 0;
    transition: all 2s ease;
    display: flex;
    z-index: 9;
    box-shadow: 2px 2px 40px rgb(32, 31, 31);
  }
  .header .header__menuPrincipal ul {
    width: 100%;
    height: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
  }
  .header .header__menuPrincipal ul li {
    opacity: 0.5;
    margin-right: -20vw;
    transition: all 3s ease-in-out;
  }
}
@media only screen and (max-width: 480px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero #hero__mosaico {
    width: calc(100vw - 3.2rem);
    display: flex;
    align-items: center;
  }
  .hero #hero__mosaico .hero__mosaico-coluna {
    width: 90em;
    height: 40vh;
    display: flex;
    margin: 0;
  }
  .hero #hero__mosaico .hero__mosaico-coluna figure {
    width: 100%;
    max-height: 50%;
  }
  .hero #hero__mosaico .hero__mosaico-coluna figure img {
    border-radius: 1rem;
    max-width: 130px;
    max-height: 135px;
  }
  .hero #hero__mosaico .hero__mosaico-coluna .figure-top {
    justify-content: flex-start;
  }
  .hero #hero__mosaico .hero__mosaico-coluna .figure-center {
    justify-content: center;
  }
  .hero #hero__mosaico .hero__mosaico-coluna .figure-bottom {
    justify-content: flex-end;
  }
  .hero #hero__mosaico .colunahero04 {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .hero__rightarea {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.6rem;
  }
  .hero__rightarea .hero__descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1.6rem;
    margin-bottom: 6.4rem;
  }
  .hero__rightarea .hero__descricao .title-1, .hero__rightarea .hero__descricao .title-2 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #0A1045;
  }
  .hero__rightarea .hero__descricao .title-2 {
    color: #F95A00;
    margin-top: -1.4rem;
  }
  .hero__rightarea .hero__descricao .sub-title {
    font-size: 1.6rem;
  }
  .hero__rightarea .hero__flags .hero__flags-lista {
    width: 100%;
  }
  .hero__rightarea .hero__flags .hero__flags-lista .html {
    color: #FFC42E;
  }
  .hero__rightarea .hero__flags .hero__flags-lista .css {
    color: #16C586;
  }
  .hero__rightarea .hero__flags .hero__flags-lista .javascript {
    color: #F95A00;
  }
  .hero__rightarea .hero__flags .hero__flags-lista i {
    font-size: 2.8rem;
  }
  .hero__rightarea .hero__flags .hero__flags-lista .ti-brand-html5 {
    color: #FFC42E;
  }
  .hero__rightarea .hero__flags .hero__flags-lista .ti-brand-css3 {
    color: #16C586;
  }
  .hero__rightarea .hero__flags .hero__flags-lista .ti-brand-javascript {
    color: #F95A00;
  }
}/*# sourceMappingURL=main.css.map */