@media only screen and (min-width: 1025px) {

.hero__rightarea{
 display: flex;
 flex-direction: column;
 height: 50vh;
 justify-content: center;
 position: relative;


}

.hero__descricao{
 display: flex;
 flex-direction: column;
 align-items: end;
margin-bottom: $space-32;

 .title-1{
   font-size: $titleSize * 2;
   color: $primaryBlue;
   font-weight: $primaryTitleWeight;
 }
 .title-2{
    font-size: $titleSize * 2;
    color: $javascriptTheme;
    font-weight: $primaryTitleWeight;
 }

.sub-title{
    font-size: $subtitleSize * 1.6;

}




}
.hero__flags{
    position: relative;
    top: 12.8rem;

    

   .hero__flags-lista{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 

    .html{
     color:$htmlTheme;
    }
    .css{
     color:$cssTheme;
    }
    .javascript{
     color:$javascriptTheme;
    }
  
    i{
     font-size: 4rem;
    }

    .ti-brand-html5{
     color:$htmlTheme;
    }
    .ti-brand-css3{
     color:$cssTheme;
    }

    .ti-brand-javascript{
     color:$javascriptTheme;
    }


}
}

}