

.hero__rightarea{
 display: flex;
 flex-direction: column;
 height: 100%;
 justify-content: center;
 position: relative;
}

.hero__descricao{
 display: flex;
 flex-direction: column;
 align-items: end;

 h3{
     color: #767676;
     font-weight: 200;
     font-size: 1.8rem;
     margin: 0 0 .8rem;
 }

 h1{
    text-align: right;
    font-size: 6.4rem;
    font-weight: bold;
    background: #093896;
    background: linear-gradient(to right, #093896 0%, #AD0000 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
     
 }
 h4{
     margin: .8rem 0 0;
     color: rgba(118, 118, 118, 0.80);
     font-size: 1.8rem;
     font-weight: bold;
 }
}