@import "../../../variables/variables";


/* Estilos para celulares com largura de até 320px */
@media only screen and (max-width: 480px) {
 /* Seus estilos para celulares de até 320px aqui */
 body{
   background-color: #fff;

 }

.header{

 width: 100vw; height: 6.4rem;
 
 display: flex;
 justify-content: space-between;
 padding: 0;
 align-items: center;
 margin-bottom: -90px;
 box-shadow: 2px 2px 10px #ececec;
 
figure{
   
   width: 5.2rem * 1.5;
   height: 3.2rem * 1.5;
   margin-left:1.6rem;
  
      
   
}


 label{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.6rem;
  
  z-index: 999;
  font-size: 1.8rem;
   padding: 1rem;
  border-radius: 50%;
  transition: all 1s ease;

  &:active{
   background-color: #232323cd;

   i{
      text-shadow: 1px 1px 1px #fff;
   }
  }

  i{
   font-size: 2.4rem;
   transition: all 2s ease;
   color: $fontDarkTheme;

  }

 }

 input{
  display: none;
     flex: 1;
  &:checked +  .header__menuPrincipal{
   left: 0;
   li{

      margin-right: 0vw;
      transition: all 3s ease-in-out;
      opacity: 1;
      margin-right: 0;
   }

  }
 }

 .header__menuPrincipal{

  position: absolute;
  width: calc(100vw); height: 100vh;
  left: -100vh;
  top: 0;
  transition: all 2s ease;
  display: flex;
  z-index: 9;
  
  box-shadow: 2px 2px 40px rgb(32, 31, 31);

  
  ul{
   width: 100%; height: 90%;
   background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;



  li{

         opacity: 0.5;
         margin-right: -20vw;
         transition: all 3s ease-in-out;
  }
  }



 }

}



}
