@import "../../../variables/variables";

@media only screen and (max-width: 480px){

.hero{

 flex-direction: column-reverse;
 

 #hero__mosaico{


    width: calc(100vw - 3.2rem);
    display: flex;
    align-items: center;
   
   
    
    .hero__mosaico-coluna{
      width: 90em;
      height: 40vh;
      
    

      display: flex;
      margin: 0;

    figure{
      width: 100%;
      max-height:50% ;
     

      img{

         border-radius: 1rem;
         max-width: 130px;
         max-height: 135px;



         
      }

      
    }

    .figure-top{
      justify-content: flex-start;
    }
    .figure-center{
      justify-content: center;
    }
    .figure-bottom{
      justify-content: flex-end;
    }


    }

    .colunahero04{
     display: none;
     
    }



 }

}


}
