// import other 

@import "../../../variables/variables";


/* Smartphones em orientação retrato */
@media only screen and (max-width: 480px) {
 /* Seu estilo para smartphones em orientação retrato aqui */
body{
  background-color: #fff;

}
.hero{

width: 100vw;
display: flex;
flex-direction: column-reverse;
align-items: center;
     #hero__mosaico{
    
      width: calc(100vw - 0.8rem);
        @include alingAllcenter(row);
       
        margin-top: -10rem;   
    

        .colunahero04{
          display: none !important;
          }
        

        .hero__mosaico-coluna{
         width: 28vw;
         height: 60vh;
         display: flex;
         flex-direction: column;

        

         .j-start{
          
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 1.2rem;

         }

      

         .j-middle{
        
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1.2rem;

         }


         .j-end{
         
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 1.2rem;
         }


         figure{
          width: 100%; 
         
        


          img{
            width: 105px;
            height: 115px;                      
            aspect-ratio: 1/2;
            object-fit: cover;
            border-radius: 1.2rem;  
          


          }
         }
        

          

     }

     
     }


     
     .hero__flags{
      position: absolute;
      top: calc(80vh + 6.4rem);
      right: $space-32;
  



        .hero__flags-lista{
        
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 80%; 


        

        } 

      }


}


 
}