.about-technologies {
  display: flex;
  justify-content: center;
  gap: 12rem;
  flex-direction: column;
  width: 99vw;
  align-items: end;
  padding: 0 10rem 5rem 0;

  header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.8rem;

    .title {
      display: flex;
      align-items: center;
      gap: 2rem;
      h1 {
        font-size: 4rem;
      }
      span {
        width: 24rem;
        height: 0.2rem;
        background-color: #00c2d1;
      }
    }
    p {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: right;
    }
  }
  .logos {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logos__1 {
        display: flex;
        list-style: none;
        gap: 10rem;
        .html-technologies {
          color: rgb(255, 112, 112);
        }

        .css-technologies{
           color: rgb(22, 197, 134);
        }

        .javascript-technologies{
           color:  rgb(255, 215, 115);
        }

        li {
        background: linear-gradient(150deg, #fff 35.63%, #cbc4c4 121.18%);
        box-shadow: inset -1rem -1rem 4rem 0 rgba(0, 0, 0, 0.20);
        width: 25rem;
        height: 25rem;
        display: flex;
        justify-content: space-evenly;
        border-radius: 3rem;
        font-size: 2.5rem;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        



        .sass {
          margin: 1.2rem 0 0;
          width: 8.5rem;
          height: 8.5rem;
         
        }
        img {
          width: 11rem;
          height: 11rem;
        }
      }
    }
  }
}
